* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    background-image: url("../img/خلفية2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    
  background-color: #72A299;
  width: 98%;
  margin: 0 auto;
  

}
.title1,.title2{
    
display: inline;
font-style: oblique;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:whitesmoke ;

}
.title1{
    font-size: 4rem;
    color: #4F70A5;
    font-weight: bolder;

}

#title{
    width: 19%;
   margin-left: 44%;
  
}

#logo {
  width:5%;
  height: 5%;
  border-radius: 50px;

  margin-left: 50%;
  margin-right: 2.5%;
  padding-top: 2%;
}
.topnav {
  width: 50%;
  height: 30%;
  margin-left: 36%;
}

.itemnav:link{
  padding: 4%;
  font-size: 200%;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #4F70A5;
  font-weight: bold;
  
}
.itemnav:hover{

}


#imghomeImg {
    display: block;
  width: 98%;
  height: 200px;
  margin: 0 auto;
}

#searchBar {
  width: 35%;
  height: 30px;
  margin-top: 0px;
  margin-left: 2%;
  font-size: 100%;
}

#listBox {
  width: 90%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-between;
  grid-gap: 4rem;
}

.box {
    background-color: #72A299;
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 6px 20px 6px rgba(0,0,0,0.66);
}

.infoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBox {
  display: block;
  width: 100%;
  height: 50%;
  border-radius: 20px;
}

.hBox
 {
  font-weight: 80%;
  font-size: 2rem;
  width: 90%;
  text-align: center;
  color: whitesmoke;
  
}
.pBox{
    text-align: center;
    color: whitesmoke;
    font-weight:bold;
    font-size: 3rem;
    width:  100%;
    font-style: italic;
    

}


.butBox{
    display: block;
    color: #4F70A5;
    border-radius: 30px;
    font-size: 20px;  
}

#butAdd {
  display: block;
  margin: 0 auto;
  font-size: large;
  font-weight: 10%;
  font-size: 3rem;
  border-radius: 10px;
  color: #72A299;
}

footer {
  text-align: center;
}

 .favor{
    background-color: red;
    color: whitesmoke;
}

 .visit{


}  